@model IEnumerable<WebApplication1.Areas.Admin.Models.sanpham>

<link rel="stylesheet" type="text/css" href="~/css/product-style.css" />
<link rel="stylesheet" type="text/css" href="~/css/customstyle.css" />
<section class="laptopcate ">
    <div class="clr"></div>
    <div class="laptopprice barpageLaptop">
        <h1>Danh sách sản phẩm</h1>
    </div>
    <!-- Product -->

    <ul class="homeproduct">

        @foreach (var item in Model)
        {
   
            <li>
                <a href="@Url.Action("Detail", "Products", new { id=item.id })" class=laptop>
                    <img width="180" height="180" data-original="@item.hinhdaidien" class="lazy"><div class="props">
                    </div>
                    <h3>@item.ten</h3>
                    <div class="price">
                        @{
                            int giagiam = 0;
                            if (item.gianiemyet > item.giaban)
                            {
                                giagiam = Convert.ToInt32(item.gianiemyet) - Convert.ToInt32(item.giaban);
                                <strong>@string.Format("{0:n0}", item.giaban)₫</strong>
                                <span>@string.Format("{0:n0}", item.gianiemyet)₫</span>
                            }
                            else
                            {
                                <strong>@string.Format("{0:n0}", item.giaban)₫</strong>
                            }
                        }
                    </div>
                    <div class="promo">
                        <p>@item.ghichu</p>
                    </div>
                    @if (giagiam != 0)
                    {
                        <label class="discount">GIẢM @string.Format("{0:n0}", giagiam)₫</label>
                    }
                </a>
            </li>
        }
    </ul>

    <div class="clr"></div>
</section>
<!-- Tag  -->


<div class="plc">
    <ul>
        <li><i class="icGh"></i><span>Giao h&#224;ng hoả tốc trong 90 ph&#250;t</span></li>
        <li><i class="icTn"></i><span>Trải nghiệm sản phẩm tại nhà</span></li>
        <li><i class="icLd"></i><span>Lỗi đổi tại nhà trong 1 ngày</span></li>
        <li><i class="icHt"></i><span>Hỗ trợ suốt thời gian sử dụng. Hotline: <a href="tel:18001763">1800.1763</a></span></li>
    </ul>
</div>
<script defer="defer" async="async" src="~/js/productScript.js"></script>