@model IEnumerable<WebApplication1.Areas.Admin.Models.loaisanpham>

<header>
    <div class="wrap-main">
        <a class="my-header" style="float:left" title="Về trang chủ" href="/" aria-label="logo">
           QT-Shop
        </a>

        <nav>
            @foreach (var item in Model)
            {
                <a href="@Url.Action("Index", "Products", new { id=item.id })" class="mobile" title="@item.motasoluoc">
                    <div class="icontgdd-mobile custom_icon_loaisp" style="background:url(@item.hinhanhloaisanpham)"></div>@item.ten
                </a>
            }
            <a href="@Url.Action("Index", "News")" class="news" title="Tin công nghệ">
                <i class="icontgdd-news"></i><span>Tin</span>Công Nghệ
            </a>
            <a  href="#" class="ask" style="visibility:hidden" title="Hỏi đáp">
                <i class="icontgdd-ask"></i>Hỏi đáp
            </a>
            <a href="#" style="visibility:hidden" class="cardsim">
                Sim số<br />
                Thẻ cào
            </a>
            <a href="#" class="utility">
                Giỏ hàng
            </a>
        </nav>
    </div>
    <div class="clr"></div>
</header>