<link rel="stylesheet" type="text/css" href="~/css/news-style.css" />
<link rel="stylesheet" type="text/css" href="~/css/customstyle.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<style>
    #showLess {
        color: #808080;
        cursor: pointer;
        display: none;
    }
        #showLess b {
            transform: rotate(180deg);
            border-top: 5px solid #808080;
        }
</style>

@model IEnumerable<WebApplication1.Areas.Admin.Models.admin_tintuc>

<section>
    
    <aside class="leftcate">
        <ul class="newslist latest" style="margin-top:20px;">
            @{
                var firstNews = Model.FirstOrDefault();
                if (firstNews != null)
                {
                    <li>
                        <a href="@Url.Action("Detail", "News", new {id=firstNews.id })">
                            <div class="tempvideo">
                                <img width="100" height="70" src="@firstNews.hinhdaidien" />
                            </div>
                            <h3>
                                @firstNews.tentintuc
                            </h3>
                            <figure>
                                @firstNews.motasoluoc
                            </figure>
                            <div style="float:right;font-size: 14px;color: #999">
                                <span>@String.Format("{0:d/M/yyyy HH:mm}", firstNews.ngaycapnhat)</span>
                            </div>
                        </a>
                    </li>
                }
            }
        </ul>

        <ul class="newslist" id="myList">
            @{
                int i = 0;
                if (Model.Count() > 1)
                {
                    foreach (var item in Model)
                    {
                        if (i == 0)
                        {
                            i++;
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("Detail", "News", new {id=item.id })">
                                    <div class="tempvideo">
                                        <img width="100" height="70" data-src="@item.hinhdaidien" class="lazy" src="@item.hinhdaidien" />
                                    </div>
                                    <h3>
                                        @item.tentintuc

                                    </h3>
                                    <figure>
                                        @item.motasoluoc
                                    </figure>
                                    <div class="timepost">
                                        @*<span>25 ph&#250;t trước</span>
                                        <span class="namecate">Tin nhanh 24/7</span>*@
                                        <span>@String.Format("{0:d/M/yyyy HH:mm}", item.ngaycapnhat)</span>
                                    </div>
                                </a>
                            </li>
                            i++;
                        }
                    }
                }

            }
        </ul>
        @{
            if (Model.Count() > 5)
            {
                <span id="loadMore" class="viewmore">Xem thêm <b></b></span>
                <span id="showLess" class="viewmore">Rút gọn <b></b></span>
            }
        }
    </aside>
</section>

<script defer="defer" async="async" src="~/js/newsScript.js"></script>
<script>
    $(function () {
        size_li = $("#myList li").size();
        x = 3;
        $('#myList li:lt(' + x + ')').show();
        $('#loadMore').click(function () {
            x = (x + 5 <= size_li) ? x + 5 : size_li;
            $('#myList li:lt(' + x + ')').show();
            $('#showLess').css('display','block');
            if (x == size_li) {
                $('#loadMore').hide();
            }
        });
        $('#showLess').click(function () {
            x = (x - 5 < 0) ? 3 : x - 5;
            $('#myList li').not(':lt(' + x + ')').hide();
            $('#loadMore').show();
            $('#showLess').css('display','block');
            if (x == 3) {
                $('#showLess').hide();
            }
        });
    });
</script>
