@model IEnumerable<WebApplication1.Controllers.ProductsController.SanPhamGioHang>
@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/puchase-style.css" />
<link rel="stylesheet" type="text/css" href="~/css/customstyle.css" />
@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@


<section id="wrap_cart">
    <div class="bar-top">
        <a href="/" class="buymore">Mua thêm sản phẩm khác</a>
        <div class="yourcart">Giỏ hàng của bạn</div>
    </div>
    <div class="wrap_cart">
        <div class="loading-cart" style="display: none;">
            <span class="cswrap">
                <span class="csdot"></span>
                <span class="csdot"></span>
                <span class="csdot"></span>
            </span>
        </div>
        <input name="__RequestVerificationToken" type="hidden" value="CKe7pOjbKhMoz8dqsPg6Xh_85pnBrzda9-w5NkLYM6SS_l3TnPvp7sFSgSg0o8aW36fkgX0g4oLy7uxsf8LomLGYbBg1">

        <input type="hidden" id="showonehour" name="showonehour" value="true">
        <input type="hidden" id="iscatelaptop" name="iscatelaptop" value="false">
        <style>
            #showonehour[value=true] ~ .area_other .area_address .onehour {
                display: block !important;
            }
        </style>
        @{
            if (Model.Count() > 0)
            {
                <div class="detail_cart">
                    <div class="clr"></div>
                    <ul class="listorder">
                        @{
                            foreach (var item in Model)
                            {
                                <li id="@item.id">
                                    <div class="colimg">
                                        <a href="/dtdd/huawei-y9-prime-2019">
                                            <img width="55" src="@item.urlhinh">
                                        </a>
                                        @using (Html.BeginForm("XoaSanPhamGioHang", "Cart"))
                                        {
                                            <input type="hidden" name="idsp" value="@item.id" />
                                                <button type="submit" class="delete"><span></span>Xóa</button>
                                        }
                                    </div>
                                    <div class="colinfo">
                                        <strong>@string.Format("{0:n0}", item.gia)₫</strong>
                                        <a href="/dtdd/huawei-y9-prime-2019">@item.ten</a>
                                        @*<div class="title">
                                            Số lượng: @item.soluong
                                        </div>*@
                                            <div class="form-group">
                                                <div class="input-group" style="display: flex;">
                                                    <div class="input-group-btn">
                                                        @using (Html.BeginForm("GiamSoLuong", "Cart"))
                                                        {
                                                            <input type="hidden" name="idsp_giam" value="@item.id" />
                                                            <button type="submit" style="width: 20px;"  class="btn btn-default">-</button>
                                                        }
                                                        
                                                    </div>
                                                    <input style="width:50px; text-align:center" readonly type="text" id="myNumber-@item.id" class="form-control input-number" value="@item.soluong" />
                                                    <div class="input-group-btn">
                                                        @*<button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>*@
                                                        @using (Html.BeginForm("TangSoLuong", "Cart"))
                                                        {
                                                            <input type="hidden" name="idsp_tang" value="@item.id" />
                                                            <button class="btn btn-default" style="width: 20px;"  type="submit">+</button>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        <div>
                                        </div>
                                        <div class="clr"></div>
                                        <input type="hidden" class="hdIsBuyComBo" name="ListNone[0].IsBuyComBo" value="false">
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                    <div class="area_total">
                        <div>
                            <div class="shipping_home none" style="display: block;">
                                <div class="total">
                                    <b>Tổng tiền:</b>

                                    <strong>@string.Format("{0:n0}", ViewBag.tongtien)₫</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="infouser none">
                        <div class="malefemale">
                            <label class="anh choose"><i class="iconmobile-opt"></i>&nbsp;Anh</label>
                            <label class=""><i class="iconmobile-opt"></i>&nbsp;Chị</label>
                            <input data-val="true" data-val-number="The field iGender must be a number." data-val-required="The iGender field is required." id="BillingAddress_iGender" name="BillingAddress.iGender" type="hidden" value="1">
                        </div>
                        <div class="areainfo">

                            <div class="left">
                                <input type="text" class="saveinfo" name="BillingAddress.FullName" placeholder="Họ và tên" maxlength="50" value="asd">
                            </div>
                            <div class="right">
                                <input type="tel" class="saveinfo" name="BillingAddress.PhoneNumber" placeholder="Số điện thoại" maxlength="10" value="0332555555">
                            </div>
                            <input type="text" id="BillingAddress_Email" name="BillingAddress.Email" placeholder="Email (Để theo dõi quá trình chuyển hàng)" maxlength="100" class="saveinfo" style="display:none;">
                            <input type="text" class="saveinfo" style="display:none" id="OrderNote" name="OrderNote" placeholder="Yêu cầu khác (không bắt buộc)" maxlength="300">
                        </div>
                    </div>
                    <div class="area_other">

                        <div class="textnote"><b>Thông tin giao hàng</b></div>

                        <div class="area_market " style="display: none;">
                            <div class="overlay">
                                <span class="cswrap">
                                    <span class="csdot"></span>
                                    <span class="csdot"></span>
                                    <span class="csdot"></span>
                                </span>
                            </div>
                            <div class="citydis">
                                <div class="city"><span data-id="3">TP.Hồ Chí Minh</span></div>
                                <div class="listcity layer" style="display: none;">
                                    <div class="searchlocal">
                                        <div>
                                            <input name="txtSearch" type="text" placeholder="Nhập tỉnh, thành để tìm nhanh">
                                            <button type="submit" class="submit"><i class="iconmobile-search"></i></button>
                                        </div>
                                    </div>
                                    <div class="scroll">
                                        <aside><a data-value="3">TP.Hồ Chí Minh</a><a data-value="5">Hà Nội</a><a data-value="9">Đà Nẵng</a><a data-value="82">An Giang</a><a data-value="102">Bà Rịa - Vũng Tàu</a><a data-value="103">Bắc Giang</a><a data-value="104">Bắc Kạn</a><a data-value="105">Bạc Liêu</a><a data-value="106">Bắc Ninh</a><a data-value="107">Bến Tre</a><a data-value="108">Bình Định</a><a data-value="109">Bình Dương</a><a data-value="110">Bình Phước</a><a data-value="111">Bình Thuận</a><a data-value="81">Cà Mau</a><a data-value="7">Cần Thơ</a><a data-value="112">Cao Bằng</a><a data-value="6">Đắk Lắk</a><a data-value="113">Đắk Nông</a><a data-value="114">Điện Biên</a><a data-value="8">Đồng Nai</a><a data-value="115">Đồng Tháp</a><a data-value="116">Gia Lai</a><a data-value="117">Hà Giang</a><a data-value="118">Hà Nam</a><a data-value="120">Hà Tĩnh</a><a data-value="121">Hải Dương</a><a data-value="101">Hải Phòng</a><a data-value="122">Hậu Giang</a><a data-value="123">Hòa Bình</a><a data-value="124">Hưng Yên</a></aside><aside><a data-value="125">Khánh Hòa</a><a data-value="126">Kiên Giang</a><a data-value="127">Kon Tum</a><a data-value="128">Lai Châu</a><a data-value="129">Lâm Đồng</a><a data-value="130">Lạng Sơn</a><a data-value="131">Lào Cai</a><a data-value="132">Long An</a><a data-value="133">Nam Định</a><a data-value="134">Nghệ An</a><a data-value="135">Ninh Bình</a><a data-value="136">Ninh Thuận</a><a data-value="137">Phú Thọ</a><a data-value="138">Phú Yên</a><a data-value="139">Quảng Bình</a><a data-value="140">Quảng Nam</a><a data-value="141">Quảng Ngãi</a><a data-value="142">Quảng Ninh</a><a data-value="143">Quảng Trị</a><a data-value="144">Sóc Trăng</a><a data-value="145">Sơn La</a><a data-value="146">Tây Ninh</a><a data-value="147">Thái Bình</a><a data-value="148">Thái Nguyên</a><a data-value="149">Thanh Hóa</a><a data-value="150">Thừa Thiên Huế</a><a data-value="151">Tiền Giang</a><a data-value="152">Trà Vinh</a><a data-value="153">Tuyên Quang</a><a data-value="154">Vĩnh Long</a><a data-value="155">Vĩnh Phúc</a><a data-value="156">Yên Bái</a></aside>
                                    </div>
                                </div>
                                <div class="dist"><span data-id="20">Quận 5</span></div>
                                <div class="listdist layer" style="display: none;">
                                    <div class="searchlocal">
                                        <div>
                                            <input name="txtSearch" type="text" placeholder="Nhập quận, huyện để tìm nhanh">
                                            <button type="submit" class="submit"><i class="iconmobile-search"></i></button>
                                        </div>
                                    </div>
                                    <div class="scroll">
                                        <aside><a data-value="16">Quận 1</a><a data-value="17">Quận 2</a><a data-value="18">Quận 3</a><a data-value="19">Quận 4</a><a data-value="20">Quận 5</a><a data-value="21">Quận 6</a><a data-value="22">Quận 7</a><a data-value="23">Quận 8</a><a data-value="24">Quận 9</a><a data-value="25">Quận 10</a><a data-value="26">Quận 11</a><a data-value="27">Quận 12</a></aside><aside><a data-value="30">Quận Tân Bình</a><a data-value="33">Quận Tân Phú</a><a data-value="52">Quận Phú Nhuận</a><a data-value="29">Quận Gò Vấp</a><a data-value="51">Quận Bình Thạnh</a><a data-value="28">Quận Thủ Đức</a><a data-value="31">Quận Bình Tân</a><a data-value="32">Huyện Hóc Môn</a><a data-value="34">Huyện Củ Chi</a><a data-value="35">Huyện Nhà Bè</a><a data-value="36">Huyện Bình Chánh</a><a data-value="61">Huyện Cần Giờ</a></aside>
                                    </div>
                                </div>
                            </div>
                            <div class="searchstore">
                                <div>
                                    <input name="txtSearch" type="text" placeholder="Nhập tên đường để tìm nhanh siêu thị">
                                    <button type="button" class="submit"><i class="iconmobile-search"></i></button>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="proHaNoi"></div>
                            <ul class="listmarket"></ul>
                            <input class="ShipAtStore min1" id="BillingAddress_StoreId" name="BillingAddress.StoreId" type="hidden" value="0">
                            <input id="BillingAddress_StoreName" name="BillingAddress.StoreName" type="hidden" value="">
                            <div class="citydis timeship">
                                <div class="date">Thời gian nhận:&nbsp;&nbsp;<span data-id="0">Hôm nay 29/06</span></div>
                                <div class="listdate listreceive layer" style="display: none;">
                                    <span data-value="0" class="in">Hôm nay 29/06</span>
                                    <span data-value="1" class="in">Ngày mai 30/06</span>
                                    <span data-value="2" class="in">Thứ Hai  01/07</span>

                                </div>
                            </div>
                            <div class="note_market none">
                                <p>Sản phẩm hiện đã <b>tạm hết hàng tại siêu thị này</b>. Thời gian nhận hàng dự kiến sau <b>2 - 7 ngày</b>.</p>
                                <div class="areainfo">
                                    <input type="text" style="" name="EmailSecondHome" placeholder="Email (để theo dõi quá trình chuyển hàng)" maxlength="100" class="saveinfo EmailSecond" disabled="">
                                </div>
                            </div>
                            <input type="text" class="homenumber OrderNoteHome saveinfo" name="OrderNoteHome" placeholder="Yêu cầu khác (không bắt buộc)" maxlength="300">
                            <div class="clr"></div>
                        </div>
                        <div class="area_address show ">
                            <div class="overlay">
                                <span class="cswrap">
                                    <span class="csdot"></span>
                                    <span class="csdot"></span>
                                    <span class="csdot"></span>
                                </span>
                            </div>
                            @using (Html.BeginForm("TienHanhDatHang", "Cart"))
                            {
                                <input type="text" class="homenumber OrderNoteHome saveinfo" required name="tenKH" placeholder="Họ tên người nhận hàng" maxlength="300">
                                <input type="text" class="homenumber OrderNoteHome saveinfo" required name="diachi" placeholder="Địa chỉ" maxlength="300">
                                <input type="text" class="homenumber OrderNoteHome saveinfo" required name="sodienthoai" placeholder="Số điện thoại" maxlength="300">
                                <div class="showtimeship_address">
                                </div>
                                <input type="text" class="homenumber OrderNoteHome saveinfo" name="ghichu" placeholder="Yêu cầu khác (không bắt buộc)" maxlength="300">
                                <input data-val="true" data-val-number="The field IsTechSupportShiper must be a number." data-val-required="The IsTechSupportShiper field is required." id="IsTechSupportShiper" name="IsTechSupportShiper" type="hidden" value="0">            <div class="clr"></div>
                                <div class="clr"></div>

                                <button type="submit" class="payoffline">
                                    Tiến hành đặt hàng
                                </button>
                            }
                        </div>
                    </div>
                            }
                            else
                            {
                                <div class="detail_cart" style="text-align:center; height:400px; display:flex; align-items:center">
                                    <div style="width:100%;text-align:center">
                                        <img src="~/images/giohangtrong.png" width="200" height="200" />
                                        <br />
                                        <span>Bạn chưa đặt món hàng nào.</span>
                                    </div>
                                </div>
                            }
        }
        <div class="clr"></div>
        @*</form>*@
    </div>
    <p class="provision">Bằng cách đặt hàng, bạn đồng ý với <a href="/tos" target="_blank">Điều khoản sử dụng</a> của Thegioididong</p>
</section>

@*<script defer="defer" async="async" src="~/js/homeScript.js"></script>*@
