@model WebApplication1.Controllers.HomeController.HomeViewModel

<link rel="stylesheet" type="text/css" href="~/css/home-style.css" />
<section>
    @*banner*@
    <aside class="homebanner">
        <div id="sync1">
            <div class="item">
                <a aria-label='slide' href="#"><img style="cursor:pointer" src="https://via.placeholder.com/800x300" alt="OPPO F11" width="800" height="300"></a>
            </div>
            <div class="item">
                <a aria-label='slide' href='#'><img class='lazyOwl owl-lazy' data-src='https://via.placeholder.com/800x300' alt='2019 - AP - Huawei P30 series' /></a>
            </div>
            <div class="item">
                <a aria-label='slide' href='#'><img class='lazyOwl owl-lazy' data-src='https://via.placeholder.com/800x300' alt='2019 - AP - Big Apple' /></a>
            </div>
            <div class="item">
                <a aria-label='slide' href='#'><img class='lazyOwl owl-lazy' data-src='https://via.placeholder.com/800x300' alt='2019 - AP - Galaxy A10 - Hotsale' /></a>
            </div>
            <div class="item">
                <a aria-label='slide' href='#'><img class='lazyOwl owl-lazy' data-src='https://via.placeholder.com/800x300' alt='2019 - AP - Phu Kien' /></a>
            </div>
        </div>
    </aside>
    <div class="clr"></div>
    @*end banner*@

    @{
        try
        {
            foreach (var loaisanpham in Model.loaisanphamArr)
            {
                string customClassLinkTag = "";
                if (loaisanpham.ten.ToLower() == "laptop")
                {
                    customClassLinkTag = "laptop";
                }
                <div class="navigat">
                    <h2>@loaisanpham.ten nổi bật nhất</h2>
                    <div class="viewallcat">
                    </div>
                </div>

                <ul class="homeproduct ">
                    @{
                        var arrSanPhamTheoloai = Model.sanphamArr.Where(s => s.loaisanpham1.id == loaisanpham.id).ToList();
                        if (arrSanPhamTheoloai.Count() > 0)
                        {
                            foreach (var sanpham in arrSanPhamTheoloai)
                            {
                                <li>
                                    <a href="dtdd/samsung-galaxy-a9-2018.html" class="@customClassLinkTag">
                                        <img width="180" height="180" data-original="@sanpham.hinhdaidien" class="lazy" alt="Samsung Galaxy A9 (2018)" />
                                        <h3>@sanpham.ten</h3>
                                        <div class="price">
                                            @{
                                                int giagiam = 0;
                                                if (sanpham.gianiemyet > sanpham.giaban)
                                                {
                                                    giagiam = Convert.ToInt32(sanpham.gianiemyet) - Convert.ToInt32(sanpham.giaban);
                                                    <strong>@string.Format("{0:n0}", sanpham.giaban)₫</strong>
                                                    <span>@string.Format("{0:n0}", sanpham.gianiemyet)₫</span>
                                                }
                                                else
                                                {
                                                    <strong>@string.Format("{0:n0}", sanpham.giaban)₫</strong>
                                                }
                                            }
                                        </div>
                                        <div class="promo noimage">
                                            <p>@sanpham.ghichu</p>
                                        </div>
                                        @if (giagiam != 0)
                                        {
                                        <label class="discount">GIẢM @string.Format("{0:n0}", giagiam)₫</label>
                                        }

                                    </a>
                                </li>
                            };
                        }
                    }
                </ul>
            }
        }
        catch { }
    }
</section>
<script defer="defer" async="async" src="~/js/purchaseScript.js"></script>
