@model WebApplication1.Controllers.HomeController.HomeViewModel

<link rel="stylesheet" type="text/css" href="~/css/home-style.css" />
<section>
    @*banner*@
    <aside class="homebanner">
        <div id="sync1">
            <div class="item">
                <a aria-label='slide' href="#"><img style="cursor:pointer" src="https://via.placeholder.com/800x300" alt="OPPO F11" width="800" height="300"></a>
            </div>
            <div class="item">
                <a aria-label='slide' href='#'><img class='lazyOwl owl-lazy' data-src='https://via.placeholder.com/800x300' alt='2019 - AP - Huawei P30 series' /></a>
            </div>
            <div class="item">
                <a aria-label='slide' href='#'><img class='lazyOwl owl-lazy' data-src='https://via.placeholder.com/800x300' alt='2019 - AP - Big Apple' /></a>
            </div>
            <div class="item">
                <a aria-label='slide' href='#'><img class='lazyOwl owl-lazy' data-src='https://via.placeholder.com/800x300' alt='2019 - AP - Galaxy A10 - Hotsale' /></a>
            </div>
            <div class="item">
                <a aria-label='slide' href='#'><img class='lazyOwl owl-lazy' data-src='https://via.placeholder.com/800x300' alt='2019 - AP - Phu Kien' /></a>
            </div>

        </div>
        <div id="sync2">
            <div class="item">
                <h3>Đặt Trước OPPO F11<br />Trả Góp 0% + Quà Ngon</h3>
                <i class="arrowbar"></i>
            </div>
            <div class="item">
                <i class="arrowbarleft"></i>
                <h3>Huawei P30 Series<br />Dẫn Đầu Nhiếp Ảnh</h3>
                <i class="arrowbar"></i>
            </div>
            <div class="item">
                <i class="arrowbarleft"></i>
                <h3>iPhone Xr, Xs, Xs Max<br />Trả Góp 0%</h3>
                <i class="arrowbar"></i>
            </div>
            <div class="item">
                <i class="arrowbarleft"></i>
                <h3>Galaxy A10 Giảm 300.000Đ <br /> Duy Nhất 20,21/4</h3>
                <i class="arrowbar"></i>
            </div>
            <div class="item">
                <i class="arrowbarleft"></i>
                <h3>Tất Cả Tai Nghe<br />Giảm Sốc 20%</h3>
            </div>
        </div>
    </aside>
    <aside class="homenews">
        <figure>
            <h2>
                <a href="@Url.Action("Index", "News")">Tin công nghệ</a>
            </h2>
            <b></b>
            <a id="b_11725" title="Viettel, Vinaphone Tặng 20% giá trị nạp thẻ - 19/04" href="sim-so-dep.html" class="liveevent card" target="_blank" rel="noopener"><span id="dot"><span class="ping"></span></span><span class="text"><strong>Viettel, Vinaphone TẶNG 20%</strong> giá trị thẻ nạp - 19/04</span></a>
        </figure>
        <ul>
            <li>
                <a href="tin-tuc/iphone-2019-se-duoc-nang-cap-luon-may-anh-truoc-1161566.html">
                    <img width="100" height="70" src="https://via.placeholder.com/100x70" alt="Kh&#244;ng chỉ camera sau, iPhone 2019 sẽ được n&#226;ng cấp lu&#244;n m&#225;y ảnh trước">
                    <h3>Kh&#244;ng chỉ camera sau, iPhone 2019 sẽ được n&#226;ng cấp lu&#244;n m&#225;y ảnh trước</h3>
                    <span>15 ph&#250;t trước</span>
                </a>
            </li>
        </ul>
        <div class="twobanner">
            <a aria-label="slide" href="#"><img src="https://via.placeholder.com/330x110" alt=""></a>
            <a aria-label="slide" href="#"><img src="https://via.placeholder.com/330x110" alt=""></a>
        </div>

    </aside>
    <div class="clr"></div>
    @*end banner*@

    <div class="">
        <div class="navigat ">
            <h2>17 KHUYẾN MÃI HOT NHẤT
                
            </h2>
            
        </div>
        <div id="owl-promo" class="owl-carousel homepromo ">

            <div class="item">
                <!--#region Ngành hàng chính -->
                <a href="@Url.Action("Detail", "Products", new { id=1 })">
                    <img width="180" height="180" src="https://via.placeholder.com/400x400" alt="OPPO F11" />
                    <h3>OPPO F11</h3>
                    <div class="price"><strong>7.290.000₫</strong></div>
                    <div class="promo noimage">
                        <p>Tặng sạc nhanh dự ph&#242;ng 10000mAh + trả g&#243;p 0% + bảo h&#224;nh 2 năm</p>
                    </div>
                    <label class="preorder">Đặt trước đến 19/04</label>
                </a>
                <!--#endregion -->

            </div>
            <div class="item">
                <!--#region Ngành hàng chính -->
                <a href="dtdd/samsung-galaxy-a10.html">
                    <img width="180" height="180" src="https://via.placeholder.com/400x400" alt="Samsung Galaxy A10" />
                    <h3>Samsung Galaxy A10</h3>
                    <div class="price"><strong>3.090.000₫</strong></div>
                    <div class="promo noimage">
                        <p>Giảm ngay 300.000đ</p>
                    </div>
                    <label class="preorder">Đặt trước đến 19/04</label>
                </a>
                <!--#endregion -->

            </div>

            <div class="item">
                <!--#region Ngành hàng chính -->
                <a href="dtdd/samsung-galaxy-a10.html">
                    <img width="180" height="180" src="https://via.placeholder.com/400x400" alt="Samsung Galaxy A10" />
                    <h3>Samsung Galaxy A10</h3>
                    <div class="price"><strong>3.090.000₫</strong></div>
                    <div class="promo noimage">
                        <p>Giảm ngay 300.000đ</p>
                    </div>
                    <label class="preorder">Đặt trước đến 19/04</label>
                </a>
                <!--#endregion -->

            </div>
            <div class="item">
                <!--#region Ngành hàng chính -->
                <a href="dtdd/samsung-galaxy-a10.html">
                    <img width="180" height="180" src="https://via.placeholder.com/400x400" alt="Samsung Galaxy A10" />
                    <h3>Samsung Galaxy A10</h3>
                    <div class="price"><strong>3.090.000₫</strong></div>
                    <div class="promo noimage">
                        <p>Giảm ngay 300.000đ</p>
                    </div>
                    <label class="preorder">Đặt trước đến 19/04</label>
                </a>
                <!--#endregion -->

            </div>
            <div class="item">
                <!--#region Ngành hàng chính -->
                <a href="dtdd/samsung-galaxy-a10.html">
                    <img width="180" height="180" src="https://via.placeholder.com/400x400" alt="Samsung Galaxy A10" />
                    <h3>Samsung Galaxy A10</h3>
                    <div class="price"><strong>3.090.000₫</strong></div>
                    <div class="promo noimage">
                        <p>Giảm ngay 300.000đ</p>
                    </div>
                    <label class="preorder">Đặt trước đến 19/04</label>
                </a>
                <!--#endregion -->

            </div>
            <div class="item">
                <!--#region Ngành hàng chính -->
                <a href="dtdd/samsung-galaxy-a10.html">
                    <img width="180" height="180" src="https://via.placeholder.com/400x400" alt="Samsung Galaxy A10" />
                    <h3>Samsung Galaxy A10</h3>
                    <div class="price"><strong>3.090.000₫</strong></div>
                    <div class="promo noimage">
                        <p>Giảm ngay 300.000đ</p>
                    </div>
                    <label class="preorder">Đặt trước đến 19/04</label>
                </a>
                <!--#endregion -->

            </div>
            <div class="item">
                <!--#region Ngành hàng chính -->
                <a href="dtdd/samsung-galaxy-a10.html">
                    <img width="180" height="180" src="https://via.placeholder.com/400x400" alt="Samsung Galaxy A10" />
                    <h3>Samsung Galaxy A10</h3>
                    <div class="price"><strong>3.090.000₫</strong></div>
                    <div class="promo noimage">
                        <p>Giảm ngay 300.000đ</p>
                    </div>
                    <label class="preorder">Đặt trước đến 19/04</label>
                </a>
                <!--#endregion -->

            </div>
            <div class="item">
                <!--#region Ngành hàng chính -->
                <a href="dtdd/samsung-galaxy-a10.html">
                    <img width="180" height="180" src="https://via.placeholder.com/400x400" alt="Samsung Galaxy A10" />
                    <h3>Samsung Galaxy A10</h3>
                    <div class="price"><strong>3.090.000₫</strong></div>
                    <div class="promo noimage">
                        <p>Giảm ngay 300.000đ</p>
                    </div>
                    <label class="preorder">Đặt trước đến 19/04</label>
                </a>
                <!--#endregion -->

            </div>
            <div class="item">
                <!--#region Phụ kiện -->
                <a href="sac-dtdd/pin-sac-du-phong-10000mah-esaver-la-y325s.html">
                    <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/57/145557/pin-sac-du-phong-10000mah-esaver-la-y325s-anh-dai-dien-400x400.jpg" class="lazy" alt="Pin sạc dự ph&#242;ng 10.000 mAh eSaver LA Y325S" />
                    <h3>Pin sạc dự ph&#242;ng 10.000 mAh eSaver LA Y325S</h3>
                    <div class="price">
                        <strong>325.000₫</strong>
                        <span>500.000₫</span>
                    </div>
                    <label class="per">Giảm 35%</label>
                </a>
                <!--#endregion -->

            </div>
            <div class="item">
                <!--#region Phụ kiện -->
                <a href="sac-dtdd/pin-sac-du-phong-10000-mah-evalu-sword-x.html">
                    <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/57/145719/pin-sac-du-phong-10000-mah-evalu-sword-x-anh-dai-dien-400x400.jpg" class="lazy" alt="Pin sạc dự ph&#242;ng 10.000 mAh eValu Sword X" />
                    <h3>Pin sạc dự ph&#242;ng 10.000 mAh eValu Sword X</h3>
                    <div class="price">
                        <strong>325.000₫</strong>
                        <span>500.000₫</span>
                    </div>
                    <label class="per">Giảm 35%</label>
                </a>
                <!--#endregion -->

            </div>
            <div class="item">
                <!--#region Phụ kiện -->
                <a href="tai-nghe/tai-nghe-ep-kanen-s50-den.html">
                    <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/54/82701/tai-nghe-ep-kanen-s50-den-1-400x400.jpg" class="lazy" alt="Tai nghe nh&#233;t trong Kanen S50" />
                    <h3>Tai nghe nh&#233;t trong Kanen S50</h3>
                    <div class="price">
                        <strong>120.000₫</strong>
                        <span>200.000₫</span>
                    </div>
                    <label class="per">Giảm 40%</label>
                </a>
                <!--#endregion -->

            </div>
            <div class="item">
                <!--#region Phụ kiện -->
                <a href="tai-nghe/tai-nghe-ep-kanen-ip-218.html">
                    <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/54/72775/tai-nghe-ep-kanen-ip-218-ava-400x400.jpg" class="lazy" alt="Tai nghe nh&#233;t trong Kanen IP-218" />
                    <h3>Tai nghe nh&#233;t trong Kanen IP-218</h3>
                    <div class="price">
                        <strong>120.000₫</strong>
                        <span>150.000₫</span>
                    </div>
                    <label class="per">Giảm 20%</label>
                </a>
                <!--#endregion -->

            </div>
            <div class="item">
                <!--#region Phụ kiện -->
                <a href="cap-dien-thoai/cap-micro-usb-20cm-x-mobile-mu03.html">
                    <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/58/80637/cap-micro-usb-20cm-x-mobile-mu03-den-avatar-1-400x400.jpg" class="lazy" alt="D&#226;y c&#225;p Micro USB 0.2 m Xmobile MU03" />
                    <h3>D&#226;y c&#225;p Micro USB 0.2 m Xmobile MU03</h3>
                    <div class="price">
                        <strong>22.000₫</strong>
                        <span>40.000₫</span>
                    </div>
                    <label class="per">Giảm 45%</label>
                </a>
                <!--#endregion -->

            </div>
            <div class="item">
                <!--#region Phụ kiện -->
                <a href="the-nho-dien-thoai/the-nho-microsd-8gb-class-4.html">
                    <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/55/69972/the-nho-microsd-8gb-class-4-ava-400x400.jpg" class="lazy" alt="Thẻ nhớ Micro SD 8 GB Class 4" />
                    <h3>Thẻ nhớ Micro SD 8 GB Class 4</h3>
                    <div class="price">
                        <strong>105.000₫</strong>
                        <span>150.000₫</span>
                    </div>
                    <label class="per">Giảm 30%</label>
                </a>
                <!--#endregion -->

            </div>
        </div>
    </div>

    @{
        try
        {
            foreach (var loaisanpham in Model.loaisanphamArr)
            {
                string customClassLinkTag = "";
                if (loaisanpham.ten.ToLower() == "laptop")
                {
                    customClassLinkTag = "laptop";
                }
                <div class="navigat">
                    <h2>@loaisanpham.ten nổi bật nhất</h2>
                    <div class="viewallcat">
                    </div>
                </div>

                <ul class="homeproduct ">
                    @{
                        var arrSanPhamTheoloai = Model.sanphamArr.Where(s => s.loaisanpham1.id == loaisanpham.id).ToList();
                        if (arrSanPhamTheoloai.Count() > 0)
                        {
                            foreach (var sanpham in arrSanPhamTheoloai)
                            {
                                <li>
                                    <a href="dtdd/samsung-galaxy-a9-2018.html" class="@customClassLinkTag">
                                        <img width="180" height="180" data-original="@sanpham.hinhdaidien" class="lazy" alt="Samsung Galaxy A9 (2018)" />
                                        <h3>@sanpham.ten</h3>
                                        <div class="price">
                                            @{
                                                int giagiam = 0;
                                                if (sanpham.gianiemyet > sanpham.giaban)
                                                {
                                                    giagiam = Convert.ToInt32(sanpham.gianiemyet) - Convert.ToInt32(sanpham.giaban);
                                                    <strong>@string.Format("{0:n0}", sanpham.giaban)₫</strong>
                                                    <span>@string.Format("{0:n0}", sanpham.gianiemyet)₫</span>
                                                }
                                                else
                                                {
                                                    <strong>@string.Format("{0:n0}", sanpham.giaban)₫</strong>
                                                }
                                            }
                                        </div>
                                        <div class="promo noimage">
                                            <p>@sanpham.ghichu</p>
                                        </div>
                                        @if (giagiam != 0)
                                        {
                                        <label class="discount">GIẢM @string.Format("{0:n0}", giagiam)₫</label>
                                        }

                                    </a>
                                </li>
                            };
                        }
                    }
                </ul>
            }
        }
        catch { }
    }

    @*<ul class="homeproduct ">
            <li>
                <a href="dtdd/samsung-galaxy-a9-2018.html">
                    <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/42/192003/samsung-galaxy-a9-2018-blue-400x400.jpg" class="lazy" alt="Samsung Galaxy A9 (2018)" />
                    <h3>Samsung Galaxy A9 (2018)</h3>
                    <div class="price">
                        <strong>8.990.000₫</strong>
                        <span>12.490.000₫</span>
                    </div>
                    <div class="promo noimage">
                        <p> Thu cũ đổi mới tiết kiệm đến 12.5 triệu</p>
                    </div>
                    <label class="discount">GIẢM 3.500.000₫</label>
                </a>
            </li>
        </ul>*@


    <div class="navigat">
        <h2>Phụ kiện giá rẻ</h2>
        <div class="viewallcat">
            <a href="sac-dtdd.html">Pin sạc dự ph&#242;ng</a>
            <a href="cap-dien-thoai.html">C&#225;p sạc</a>
            <a href="the-nho-dien-thoai.html">Thẻ nhớ</a>
            <a href="tai-nghe.html">Tai nghe</a>
            <a href="loa-laptop.html">Loa</a>
            <a href="phu-kien/chinh-hang.html">Phụ kiện ch&#237;nh h&#227;ng</a>
            <a href="gay-tu-suong.html">Gậy tự sướng</a>
            <a href="phu-kien.html" class="accessory">Xem tất cả phụ kiện</a>
        </div>
    </div>
    <div class="owl-carousel homepromo acc">
        <div class="item">
            <!--#region Phụ kiện -->
            <a href="sac-dtdd/sac-du-phong-polymer-10000-mah-esaver-pj-jp62s.html">
                <img width="180" height="180" data-original="https://via.placeholder.com/180" class="lazy" alt="Pin sạc dự ph&#242;ng Polymer 10.000 mAh eSaver PJ JP62S" />
                <h3>Pin sạc dự ph&#242;ng Polymer 10.000 mAh eSaver PJ JP62S</h3>
                <div class="price">
                    <strong>520.000₫</strong>
                    <span>650.000₫</span>
                </div>
                <label class="per">Giảm 20%</label>
            </a>
            <!--#endregion -->

        </div>
        <div class="item">
            <!--#region Phụ kiện -->
            <a href="loa-laptop/loa-bluetooth-fenda-w5.html">
                <img width="180" height="180" data-original="https://via.placeholder.com/180" class="lazy" alt="Loa Bluetooth Fenda W5" />
                <h3>Loa Bluetooth Fenda W5</h3>
                <div class="price">
                    <strong>300.000₫</strong>
                    <span>400.000₫</span>
                </div>
                <label class="per">Giảm 25%</label>
            </a>
            <!--#endregion -->

        </div>
        <div class="item">
            <!--#region Phụ kiện -->
            <a href="cap-dien-thoai/cap-micro-1m-esaver-ds118br-tb.html">
                <img width="180" height="180" data-original="https://via.placeholder.com/180" class="lazy" alt="D&#226;y c&#225;p Micro USB 1 m eSaver DS118-TB" />
                <h3>D&#226;y c&#225;p Micro USB 1 m eSaver DS118-TB</h3>
                <div class="price">
                    <strong>51.000₫</strong>
                    <span>100.000₫</span>
                </div>
                <label class="per">Giảm 49%</label>
            </a>
            <!--#endregion -->

        </div>
        <div class="item">
            <!--#region Phụ kiện -->
            <a href="the-nho-dien-thoai/the-nho-microsd-16gb-class-10.html">
                <img width="180" height="180" data-original="https://via.placeholder.com/180" class="lazy" alt="Thẻ nhớ Micro SD 16 GB Class 10" />
                <h3>Thẻ nhớ Micro SD 16 GB Class 10</h3>
                <div class="price">
                    <strong>154.000₫</strong>
                    <span>220.000₫</span>
                </div>
                <label class="per">Giảm 30%</label>
            </a>
            <!--#endregion -->

        </div>
        <div class="item">
            <a href="tai-nghe/tai-nghe-ep-awei-es500ni.html">
                <img width="180" height="180" data-original="https://via.placeholder.com/180" class="lazy" alt="Tai nghe nh&#233;t trong Awei ES500Ni" />
                <h3>Tai nghe nh&#233;t trong Awei ES500Ni</h3>
                <div class="price">
                    <strong>160.000₫</strong>
                    <span>200.000₫</span>
                </div>
                <label class="per">Giảm 20%</label>
            </a>
        </div>
        <div class="item">
            <a href="tai-nghe/tai-nghe-ep-awei-es500ni.html">
                <img width="180" height="180" data-original="https://via.placeholder.com/180" class="lazy" alt="Tai nghe nh&#233;t trong Awei ES500Ni" />
                <h3>Tai nghe nh&#233;t trong Awei ES500Ni</h3>
                <div class="price">
                    <strong>160.000₫</strong>
                    <span>200.000₫</span>
                </div>
                <label class="per">Giảm 20%</label>
            </a>
        </div>
        <div class="item">
            <a href="tai-nghe/tai-nghe-ep-awei-es500ni.html">
                <img width="180" height="180" data-original="https://via.placeholder.com/180" class="lazy" alt="Tai nghe nh&#233;t trong Awei ES500Ni" />
                <h3>Tai nghe nh&#233;t trong Awei ES500Ni</h3>
                <div class="price">
                    <strong>160.000₫</strong>
                    <span>200.000₫</span>
                </div>
                <label class="per">Giảm 20%</label>
            </a>
        </div>
        <div class="item">
            <!--#region Phụ kiện -->
            <a href="op-lung-flipcover/op-lung-galaxy-m20-deo-tpu-osmia-ck190301-gau-vang.html">
                <img width="180" height="180" data-original="https://via.placeholder.com/180" class="lazy" alt="Ốp lưng Galaxy M20 Nhựa dẻo TPU PRINTING OSMIA CK190301 Gấu V&#224;ng" />
                <h3>Ốp lưng Galaxy M20 Nhựa dẻo TPU PRINTING OSMIA CK190301 Gấu V&#224;ng</h3>
                <div class="price">
                    <strong>70.000₫</strong>
                </div>
                <label class="new">Mới ra mắt</label>
            </a>
            <!--#endregion -->

        </div>
        <div class="item">
            <!--#region Phụ kiện -->
            <a href="gay-tu-suong/gay-chup-anh-xmobile-csa006-pikachu-vang.html">
                <img width="180" height="180" data-original="https://via.placeholder.com/180" class="lazy" alt="Gậy chụp ảnh Xmobile H&#236;nh Pikachu CSA006" />
                <h3>Gậy chụp ảnh Xmobile H&#236;nh Pikachu CSA006</h3>
                <div class="price">
                    <strong>90.000₫</strong>
                </div>
            </a>
            <!--#endregion -->

        </div>
        <div class="item">
            <!--#region Ngành hàng chính -->
            <a href="phu-kien-thong-minh/kinh-thuc-te-ao-samsung-gear-vr-sm-r325.html">
                <img width="180" height="180" data-original="https://via.placeholder.com/180" class="lazy" alt="K&#237;nh thực tế ảo Samsung Gear VR3" />
                <h3>K&#237;nh thực tế ảo Samsung Gear VR3</h3>
                <div class="price"><strong>2.490.000₫</strong></div>
            </a>
            <!--#endregion -->

        </div>
        <div class="item">
            <!--#region Phụ kiện -->
            <a href="mieng-dan-man-hinh/mieng-dan-man-hinh-galaxy-a50.html">
                <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/1363/200326/mieng-dan-man-hinh-galaxy-a50-avatar-400x400.jpg" class="lazy" alt="Miếng d&#225;n m&#224;n h&#236;nh Galaxy A50" />
                <h3>Miếng d&#225;n m&#224;n h&#236;nh Galaxy A50</h3>
                <div class="price">
                    <strong>50.000₫</strong>
                </div>
                <label class="new">Mới ra mắt</label>
            </a>
            <!--#endregion -->

        </div>
        <div class="item">
            <!--#region Phụ kiện -->
            <a href="phu-kien-khac/day-deo-apple-watch-44mm-apple-sport-band-mtpr2-xd.html">
                <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/2429/197775/day-deo-apple-watch-44mm-apple-sport-band-mtpr2-xd-avatar-400x400.jpg" class="lazy" alt="D&#226;y đeo Apple Watch 44mm Apple Sport Band MTPR2 Xanh dương" />
                <h3>D&#226;y đeo Apple Watch 44mm Apple Sport Band MTPR2 Xanh dương</h3>
                <div class="price">
                    <strong>1.490.000₫</strong>
                </div>
            </a>
            <!--#endregion -->

        </div>
        <div class="item">
            <!--#region Phụ kiện -->
            <a href="op-lung-may-tinh-bang/op-lung-tab-a6-7-inch-t285-gap-stand-flip-meeker.html">
                <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/1662/146680/op-lung-tab-a6-7-inch-t285-gap-stand-flip-meeker-avatar-1-400x400.jpg" class="lazy" alt="Ốp lưng MTB Tab A6 7 inch T285 Nắp gập Stand Flip Meeker" />
                <h3>Ốp lưng MTB Tab A6 7 inch T285 Nắp gập Stand Flip Meeker</h3>
                <div class="price">
                    <strong>250.000₫</strong>
                </div>
            </a>
            <!--#endregion -->

        </div>
        <div class="item">
            <!--#region Phụ kiện -->
            <a href="loa-am-thanh/mobell-k1201.html">
                <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/2162/188323/dan-loa-dvd-mobell-k1201-400x400.jpg" class="lazy" alt="Loa k&#233;o Mobell K1201" />
                <h3>Loa k&#233;o Karaoke Mobell K1201 100W</h3>
                <div class="price">
                    <strong>5.690.000₫</strong>
                </div>
                <label class="installment">Trả góp 0%</label>
            </a>
            <!--#endregion -->

        </div>
        <div class="item">
            <!--#region Phụ kiện -->
            <a href="mieng-lot-ban-phim/mieng-lot-ban-phim-mac-pro-2016-13-inch-meeker-den.html">
                <img width="180" height="180" data-original="https://cdn.tgdd.vn/Products/Images/6858/185302/mieng-lot-ban-phim-mac-pro-2016-13-inch-meeker-den-400x400.jpg" class="lazy" alt="Miếng l&#243;t b&#224;n ph&#237;m Mac Pro 2016 13 inch Meeker Đen" />
                <h3>Miếng l&#243;t b&#224;n ph&#237;m Mac Pro 2016 13 inch Meeker Đen</h3>
                <div class="price">
                    <strong>120.000₫</strong>
                </div>
            </a>
            <!--#endregion -->

        </div>
    </div>
</section>
<script defer="defer" async="async" src="~/js/purchaseScript.js"></script>
